.field {
	position: relative;

	&:has(.field__input:not(:placeholder-shown)) .field__label {
		color: var(--color-black);
		scale: 0.7;
		translate: -1.75em -2.6em;
	}
}

.field__label {
	position: absolute;
	top: 50%;
	left: 17px;
	color: var(--color-gray-3);
	translate: 0 -50%;
}

.field__input {
	--fieldInputPaddingX: 16px;
	--fieldSeachInputIconSize: 16px;

	width: 100%;
	height: var(--input-height);
	padding-inline: var(--fieldInputPaddingX);
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius);

	&:hover,
	&:focus {
		border-color: var(--color-dark-2);
	}

	&:focus {
		background-color: var(--color-gray-1);
		outline: none;
	}

	&[type='search'] {
		&:placeholder-shown {
			padding-right: calc(
				var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize)
			);
			background-image: url('../../assets/icons/icon-search_black.svg');
			background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
			background-size: var(--fieldSeachInputIconSize);
			background-repeat: no-repeat;
		}
	}
}

.field__select {
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius);
	width: 100%;
	height: var(--input-height);
	padding-inline: var(--fieldInputPaddingX);
}

.calendar__cell {
	display: flex;
	padding: 10px;
	color: var(--color-dark-2);
	transition: 0.2s;
	border-radius: 20px;
	justify-content: center;
	border: none;
	background-color: transparent;
}

.calendar__cell:active {
	background-color: var(--color-dark-2);
	color: var(--color-gray-1);
}

.calendar {
	display: grid;
	grid-template-columns: repeat(7, 45px);
	grid-template-rows: repeat(5, 40px);
	gap: 7px;
	padding: 10px;
	padding-top: 5px;
	user-select: none;
}

.calendar-body {
	padding: 10px;

	border-radius: 6px;
	margin-top: 60px;
}

.days-list {
	display: flex;
	gap: 33px;
	padding: 10px;
	padding-bottom: 12px;
	padding-left: 15px;
	font-weight: 700;
	color: var(--color-gray-3);
	border-bottom: 1px solid var(--color-gray-3);
	box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.18);
}

.calendar__cell--changed {
	font-size: 12px;
	font-weight: 500;
	color: #ffffff;
	background-color: #111;
	border-radius: 4px;
	min-width: 48px;
}

.total-moneys {
	position: absolute;
	bottom: 220px;
	font-size: 20px;
	left: 10px;
}

.remove-cells {
	position: absolute;
	bottom: 212px;
	font-size: 13px;
	right: 10px;
}

.remove__container {
	display: flex;
	flex-direction: column;
	max-width: 404px;
	gap: 150px;
	max-height: 300px;
	padding: 24px;
	background-color: var(--color-white);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	z-index: 11111;
	justify-self: center;
	padding: 30px;
	margin-top: 190px;
}

.calendar__cell--other-month {
	color: #999;
}
