.field {
	position: relative;
}

.field:has(.field__input:not(:placeholder-shown)) .field__label {
	color: var(--color-black);
	scale: 0.7;
	translate: -1.75em -2.6em;
}

.field__label {
	position: absolute;
	top: 50%;
	left: 17px;
	color: var(--color-gray-3);
	translate: 0 -50%;
}

.field__input {
	--fieldInputPaddingX: 16px;
	--fieldSeachInputIconSize: 16px;
	width: 100%;
	height: var(--input-height);
	padding-inline: var(--fieldInputPaddingX);
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius);
}

.field__input:hover,
.field__input:focus {
	border-color: var(--color-dark-2);
}

.field__input:focus {
	background-color: var(--color-gray-1);
	outline: none;
}

.field__input[type='search']:placeholder-shown {
	padding-right: calc(
		var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize)
	);
	background-image: url("data:image/svg+xml,%3csvg%20width='16'%20height='16'%20viewBox='0%200%2016%2016'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M14%2014L11.1%2011.1M12.6667%207.33333C12.6667%2010.2789%2010.2789%2012.6667%207.33333%2012.6667C4.38781%2012.6667%202%2010.2789%202%207.33333C2%204.38781%204.38781%202%207.33333%202C10.2789%202%2012.6667%204.38781%2012.6667%207.33333Z'%20stroke='%231E1E1E'%20stroke-width='1.6'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e");
	background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
	background-size: var(--fieldSeachInputIconSize);
	background-repeat: no-repeat;
}

.field__select {
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius);
	width: 100%;
	height: var(--input-height);
	padding-inline: var(--fieldInputPaddingX);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.field {
	width: 100%;
}

input,
label,
button {
	transition-duration: var(--transition-duration);
}

:focus-visible {
	outline: 2px dashed var(--color-black);
	outline-offset: 4px;
	transition-duration: 0s !important;
}
