.menu__button {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: var(--color-white);
	border: none;
	scale: 2;
}

.menu__button.active {
	rotate: 90deg;
}

.menu {
	position: absolute;
	top: 6px;
	left: 5px;
	opacity: 0;
	transition: 0.3s;
	pointer-events: none;
}

.menu.active {
	opacity: 1;
	transform: translateX(60px);
	pointer-events: all;
}

.menu__list {
	display: flex;
	flex-direction: column;
	border: none;
	background-color: var(--color-white);
	padding-left: 10px;
}

.menu-item {
	color: var(--color-dark-1);
	font-size: 20px;
	background-color: var(--color-white);
	border: 1px solid var(--color-dark-1);
	padding-inline: 20px;
	cursor: pointer;
}
