body {
	font-family: 'Inter', sans-serif;
}

a {
	color: var(--color-white);
	text-decoration: none;
}

.button {
	border: 1px solid var(--color-dark-1);
	background-color: var(--color-dark-1);
	color: var(--color-white);
	font-weight: 400;
	font-size: 16px;
	border-radius: var(--border-radius);
	padding: 8px 80px;
}

.button:active {
	background-color: var(--color-white);
	color: var(--color-dark-1);
}

* {
	-webkit-tap-highlight-color: transparent;
}
